body{
    background-color: rgb(36, 64, 76);
}

.country_data{
    background-image: linear-gradient(to left, rgb(108, 91, 39), rgb(220, 200, 165)) !important;
    border: 2px;
    margin: 10px;
    padding:0px 10px 10px 10px;
    width: 300px;
    height: 300px;
    text-align: center;

    
}
.country_data p {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 5px;
    
    
}
.Name {
    margin-top: 5px;
    padding:10px 0px 10px 0px;
    background-color: black;
    border-radius: 5px;
}
.fl{ 
    width:250px;
    height: 100px;
    
}
.country_data {
background-color: transparent;
border-color: aliceblue;
color: rgb(196, 18, 18) !important;;

}

.country_data img {
    display: inline-block;
}

